header {
    background-color: #000000;
    text-align: center;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 120px;
    margin-bottom: 80px;
}

body {
    margin: 0px;
    background-color: #303030;
    font-family: 'Lato', sans-serif;
}

#ticketScreen {
    margin: auto;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #ffffff;
    padding-bottom: 10px;
    width: 660px;
    text-align: center;
}

#continueButton {
    width: 200px;
    height: 25px;
    font-size: 20px;
    color: #ffffff;
    border: none;
    border-radius: 60px;
    background-color: #000000;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 38px;
}

h4 {
    font-size: 15px;
}

#forumImg {
    width: 250px;
    height: auto;
}

footer {
    padding-top: 70px;
    text-align: center;
    color: #ffffff;
}